<nav>
    <h1>home</h1>
    <div>
        <a href="/about">about</a>
        <a href="/products">products</a>
        <a href="/register">register</a>
        <a href="/login">login</a>
    </div>
</nav>    