<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("./partials/head.ejs")%>
</head>
<body>
    <% if(menu == "about"){ %>
       <%- include("./partials/about_menu.ejs")%>  
    <% } %>    
     <h1>super website z :)</h1>
     <div>
         <h1>about</h1>
         <p>Excepteur irure amet consequat aliquip sint eu proident eiusmod ex voluptate. Id sit culpa commodo enim cupidatat proident. Excepteur eu qui occaecat ut anim sint esse aute consectetur qui consequat.

Ut eiusmod sint sit et pariatur ipsum. Dolor deserunt commodo reprehenderit irure sit consequat. Culpa veniam proident ipsum ea consequat incididunt laboris veniam.

Aliquip et adipisicing consequat labore dolore velit velit nisi anim. Pariatur cillum eiusmod adipisicing fugiat tempor eu do ullamco incididunt duis. Pariatur culpa ut labore magna duis quis.

Nulla aliquip cillum sunt ex cillum cupidatat adipisicing cillum dolore sunt. Adipisicing cupidatat sit nisi dolor sunt minim. Aliqua mollit consectetur excepteur mollit elit ad ea ipsum Lorem aliqua ad reprehenderit proident esse.

Amet veniam aliqua dolore ex enim ad sunt. Sunt culpa aute voluptate amet anim ea ipsum pariatur sint ipsum. Voluptate ipsum voluptate eiusmod mollit aliqua adipisicing. Nisi voluptate est nostrud fugiat aute nostrud incididunt exercitation dolore aliqua.</p>
     </div>
</body>
</html>