<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("./partials/head.ejs")%>
</head>
<body>
    <% if(menu == "about"){ %>
       <%- include("./partials/about_menu.ejs")%>  
    <% } %>    
     <h1>super website z :)</h1>
     <div>
         <h1>Felipe</h1>
     </div>