<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("./partials/head.ejs")%>
</head>
<body>
    <% if(menu == "home"){ %>
       <%- include("./partials/home_menu.ejs")%>  
    <% } %>    
     <h1>super website z :)</h1>
     <ul>
         <% movies.map(movie =>{ %>
            <li><%= movie %></li>
          <% }) %>  
     </ul>
</body>
</html>